---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Jasmine E. Tran";
---
<Layout pageTitle={pageTitle}>

    <div class="gif">
        <img width="150" height="150" alt="jasThinkingGif" src="/jet-icon.gif"/>
    </div>
    
    <div class = "seventy-grid-wrapper">
        <div class = "grid-center">
            <div style = "text-align: center">
                <div style = "padding-bottom: 0.7rem;">
                    <img width="275" height="275" alt="jasHeadshot" src="/jet-headshot.png"/>
                </div>
                <h1> Jasmine E. Tran </h1>
                <span class="badge">P.h.D Student in Education @ UC Irvine </span>
                <div style = "padding-top: 1.2rem;"> 
                    <li class="icon__btn"><a class="icon__link" href="mailto: jasetran@uci.edu"><span class="mail-icon">Email</span></a></li>
                    <li class="icon__btn"><a class="icon__link" href="https://github.com/jasetran" target="_blank"><span class="git-icon">GitHub</span></a></li>
                    <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/jaseliztran/" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
                    <li class="icon__btn"><a class="icon__link" href="https://scholar.google.com/citations?user=dcmtehQAAAAJ&hl=en" target="_blank"><span class="google-scholar">Google Scholar</span></a></li>
                </div>
            </div>
        </div>
        <div>
            <h2>About</h2>
            <p>
                Hello! I am a <b>  first year Ph.D. student in Education specializing in Teaching, Learning, and Education  
                Improvement (TLEI) at the University of California, Irvine (UCI).</b> My advisors are <b> Professor Mark Warschaeur </b> and 
                <b> Professor Kylie Peppler.</b> I am especially interested in digital learning, primarily in evaluating and developing educational technology that can 
                leverage the unique strengths of diverse students. Through this research, I intend to better understand the learning theories and design elements 
                that make these tools effective, and implement them through research-practice partnerships. Before my graduate studies, I received my <b>B.A. in 
                Psychology from San Jose State University.</b> I also worked on the <a target="_blank" rel="noopener noreferrer" href="https://roar.stanford.edu/"> Rapid Online Assessments of Reading</a> 
                project at Stanford University where I designed and developed gamified, online reading assessments. 
            </p>
            <p>
                My work in the <a target="_blank" rel="noopener noreferrer" href="https://www.digitallearninglab.org/">Digital Learning Lab</a> centers on 
                <a target="_blank" rel="noopener noreferrer" href="https://www.conversetolearn.org/"> Converse to Learn</a>, an NSF-funded collaboration with PBS KIDS. 
                Our research investigates how children learn STEM concepts through interactive videos, using <b> Conversational Agents (CAs) </b> to enable their favorite characters to respond in real-time. 
                Think Dora the Explorer, but if Dora could actually answer you! Through this project, I aim to enhance this technology to make STEM learning more engaging and impactful for students of all backgrounds. 
            </p>
        </div>
    </div>

    <div class = "full-grid-wrapper">
        <div>
         <h2>Chat with me!</h2>
            <p>
                I have experienced first-hand how powerful <b>mentorship</b> is. As a first generation Vietnamese-American college student, I would not have been able 
                to pursue a Ph.D. program without financial supports and <b>amazing mentors who took a chance on me.</b> If you are someone who has been historically underrepresented
                in academia (e.g. low-income, first-generation, queer) or just someone who is anxious about academia then feel free to reach out to me (<b>jasetran@uci.edu</b>) 
                for advice or anything else. I am more than happy to chat because <b>research is for everyone!</b>
            </p>
        </div>
    </div>

    <div class = "quarter-grid-wrapper">
        <div>
            <h2>Upcoming conferences</h2>
            <p>
            This will be regularly updated with conferences I will be attending or have recently attended:
                <li> <b>May 2025:</b> I will be presenting a poster at the <a target="_blank" rel="noopener noreferrer" href = "https://cald-ai.github.io/">CALD-AI workshop</a>. </li>
                <li> <b>February 2025:</b> I attended the Pacific Coast Research Conference in San Diego. </li>
                <li> <b>September 2024:</b> I presented a paper at the NCME: Classroom Assessment Conference in Chicago. </li>
                <li> <b>February 2024:</b> I attended the AI + Education Summit at Stanford University. </li>
            </p>
        </div>
        <div class = "grid-center-icons">
            <h2> Skills </h2>
                <img class="skills__img" width="46" height="46" alt="R" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/r/r-original.svg"/>
                <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg"/>
                <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
                <img class="skills__img" width="46" height="46" alt="Stata" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/stata/stata-original-wordmark.svg"/>
                <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        </div>
    </div>

</Layout>

