---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Interests";
---

<Layout pageTitle={pageTitle}>
    <h1 style="padding-top:1.5rem"> A bit more about me! </h1>
    <h2> &#127912; Art & design </h2>
    <p> I've been drawing traditionally (and more recently digitally) since I was young. 
    Art museums are always on my must-do list when I travel.
    If it's possible then I love to have full control over the artistic direction
    and design of the research projects I work on. Check out some of my work: </p>
    <h2> &#127861; Matcha lattes & coffee </h2>
    <p> I've been drawing traditionally (and most recently digitally) since I was young.
    If I am allowed to then I love to have full control over the artistic direction
    and design of the research projects I work on. Check out some of my work: </p>
    <h2> Volunteer </h2>
    <p> I've been drawing traditionally (and most recently digitally) since I was young.
    If I am allowed to then I love to have full control over the artistic direction
    and design of the research projects I work on. Check out some of my work: </p>
</Layout>
