---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Interests";
---

<Layout pageTitle={pageTitle}>
    <h1 style="padding-top:1.5rem"> A bit more about me! </h1>
    <h2> &#127912; Art & design </h2>
    <p> The aesthetic of a tool, when thoughtfully crafted for its target community, greatly influences how children experience
    and engage with it. I've been passionate about art since childhood—first traditionally, and more recently, digitally—and 
    visiting art museums is always a must when I travel. Whenever possible, I enjoy shaping the artistic direction and design of the 
    research projects I'm involved in. Here's some of my work: </p>
    <div class="gif">
        <img width="455" height="259" alt="RaccoonNotesGif" src="/roar-sre.gif" />
        <img width="455" height="259" alt="RaccoonNotesGif" src="/roar-sre.gif" />
    </div>
    <h2> &#127861; Coffee & tea </h2>
    <p> As you can tell from the color palette of this website, lattes (especially matcha lattes) are my favorite! Unfortunately, I am 
    awful at making them but I am very fortunate to have a loving partner that makes them for me. When we feel like treating ourselves,
    we love exploring SoCal for the most delicious lattes and pastries. Please reach out to me if you have any recommendations in California!  </p>
</Layout>
