---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Home</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Research</a>
        <a href="/posts/">Resources</a>
        <a href="/interests/">Interests</a>
        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1BcbYte-SFrXaqr7sQPvWU1XmWC8qRPzU9fMi_P70Ums/edit?usp=sharing">CV</a>
        <ThemeIcon />
    </div>
</div>

